.dropdown-menu {
    background: #2196f3;
    border: none;
    border-top: 3px solid #ff9800;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.dropdown-divider {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    color: white;
    font-family: monospace;
    margin-right: 10px;
    font-size: 12px;
}

a:hover, a:active, a:focus {
    color: white;
}

.dropdown-item {
    color: white;
    font-family: monospace;
    font-size: 12px;
}

.dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background: #2196f3;
    color: white;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
    border: 1px solid white;
    outline: none;
}

.navbar-toggler i {
    color: white;
}

.inter {
    position: absolute;
    font-size: 14px;
    top: 18px;
}

.model {
    position: absolute;
    top: 38px;
    font-size: 14px;
}

body, html {
  height: 100%;
}

.home_bg {
  background-image: linear-gradient(to right,rgba(0, 45, 80, 0.8),rgba(0,45,80,0.2)), url("../img/home_bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.center {
    max-width: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn1 {
    padding: 5px 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
    font-family: monospace;
    border-radius: 20px;
    transition: all .3s;
    margin-right: 20px;
    outline: none;
}

.btn1:hover, .btn:active, .btn:focus {
    transform: scale(1.1);
    outline: none;
}

.btn1_1 {
    background: linear-gradient(to bottom right,rgb(255, 152, 0), rgb(250, 215, 132));
    border: #ff9800;
}

@media only screen and (max-width: 540px) {
    .home_bg {
        background-image: linear-gradient(to bottom,rgba(0, 45, 80, 0.8),rgba(0, 45, 80, 0.4)), url("../img/home_bg.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .center {
        padding: 10px;
        width: 100%;
        top: 55%;
        left: 50%;
    }
}

#arrow {
    margin: 0;
    position: absolute;
    top: 93%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 30px;
}